{% extends layout('posts') %}

{% block content %}
    <div class="post-wrapper">
    	<div class="col-md-12 col-xs-12 text-center">
    		<h1 class="primary-headline">News</h1>
    	</div>
        <div class="container">

            {% set posts = entries('posts').recent().paginate() %}

            {% include "anomaly.module.posts::posts/partials/posts" with {"posts": posts} %}

            {{ posts.links|raw }}

        </div>
    </div>
{% endblock %}
