{% extends post.type.theme_layout.key %}

{% block content %}
    <div id="posts">

        <div class="post-detail" style="background-image: url({{ post.image[0].make().widen(1980).url() }})">
            <div class="container">
                <div class="post-detail-text">
                    <h1 class="post-detail-headline">{{ post.title }}</h1>
                    {% block post %}
                        {{ content|raw }}
                    {% endblock %}
                </div>
            </div>
            <div class="post-detail-shadow"></div>
        </div>

       <!-- <div class="container">
            <article class="post-detail">

                <header>



                    <div class="meta">

                        <time class="date" datetime="{{ post.publish_at.iso }}">
                            {{ post.publish_at.format(config_get('streams::datetime.date_format')) }}
                        </time>

                        {% if post.category %}
                            <span class="category">
                            &mdash; {{ html_link(post.category.route('view'), post.category.name) }}
                        </span>
                        {% endif %}

                        {% if post.tags %}
                            <div class="tags">
                                {% for tag in post.tags.value %}
                                    <a href="{{ url_route('anomaly.module.posts::tags.view', {'tag': tag}) }}"
                                       class="label label-info list-inline-item">
                                        {{ tag }}
                                    </a>
                                {% endfor %}
                            </div>
                        {% endif %}

                    </div>

                </header>

                <br>



            </article>
        </div>-->
    </div>
{% endblock %}
