<div class="aboutme-entry">
    <div class="col-md-6 col-sm-7 col-xs-12 aboutme-entry-image aboutme-entry-col">
        <img src="{{ aboutme.image.make().fit(960, 650).url() }}" class="img-responsive" data-wow-delay="1s">
    </div>
    <div class="col-md-6 col-sm-5 col-xs-12 aboutme-entry-text aboutme-entry-col">
        <h2>{{ aboutme.title }}</h2>
        {{ aboutme.content|raw }}

    </div>
    <h4 class="aboutme-entry-year hidden-sm">{{ aboutme.year }}</h4>
    <div class="clearfix"></div>
</div>
