<footer class="footer">
    <div class="footer-top hidden">

    </div>
    <div class="footer-sponsor">
    	<div class="footer-sponsor-thank">
    		Mit freundlicher Unterstützung von
    	</div>
	    <div class="footer-sponsor-entry">
			<a href="https://www.atomic.com/de-at" target="_blank">
	    		<img src="/img/sponsor/atomic.png">
			</a>
	    </div>
	    <div class="footer-sponsor-entry">
			<a href="https://www.riedhart.at/" target="_blank">
	    		<img src="/img/sponsor/riedhart.png">
			</a>
	    </div>
	    <div class="footer-sponsor-entry">
			<a href="http://www.stoecklalm.com/" target="_blank">
	    		<img src="/img/sponsor/stoecklalm.png">
			</a>
	    </div>
	    <div class="footer-sponsor-entry">
			<a href="http://www.erdbau-transport.at/" target="_blank">
	    		<img src="/img/sponsor/mauracher.jpg">
			</a>
	    </div>
	    <div class="footer-sponsor-entry">
			<a href="http://www.malerei-eder.at/" target="_blank">
	    		<img src="/img/sponsor/eder.jpg">
			</a>
	    </div>
	    <div class="footer-sponsor-entry">
			<a href="https://bmw-unterberger.at/" target="_blank">
	    		<img src="/img/sponsor/unterberger.png">
			</a>
	    </div>
	    <div class="footer-sponsor-entry">
			<a href="http://www.farthofergmbh.com/" target="_blank">
	    		<img src="/img/sponsor/farthofer.gif">
			</a>
	    </div>
		<div class="footer-sponsor-entry">
			<a href="https://www.wilderkaiser.info/de/region-tirol/orte/soell/soell-erfrischt-winter.html" target="_blank">
				<img src="/img/sponsor/soell-erfrischt.png">
			</a>
		</div>
		<div class="footer-sponsor-entry">
			<a href="http://www.zimmerei-koller.at/" target="_blank">
				<img src="/img/sponsor/zimmerei-koller.png">
			</a>
		</div>
		<div class="footer-sponsor-entry">
			<a href="https://www.leki.com/at/" target="_blank">
				<img src="/img/sponsor/LEKI.png">
			</a>
		</div>
		<div class="footer-sponsor-entry">
			<a href="https://www.dainese.com" target="_blank">
				<img src="/img/sponsor/dainese.png">
			</a>
		</div>
		<div class="footer-sponsor-entry">
			<a href="https://www.sporttherapie-hm.at/" target="_blank">
				<img style="height: 48px;" src="https://www.christina-ager.at/app/default/assets/images/dc221d20aef8461834228eaa81500e78.png?v=1603888122">
			</a>
		</div>
		<div class="footer-sponsor-thank">
			<a href="/impressum" style="color: black;">Impressum</a>
		</div>
    </div>
</footer>
<script src="/js/wow.min.js"></script>
<script>
    new WOW().init();
</script>
