<!-- Locale -->
<meta http-equiv="Content-Language" content="{{ config('app.locale') }}">

<!-- To the Future! -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<!-- Meta Tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width"/>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="generator" content="{{ config_get('streams::distribution.name') }}"/>
<meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
<meta name="description" content="{{ trans(template.meta_description) }}"/>
<meta NAME="robots" CONTENT="index,follow" />

{% block ogdata %}
    <meta property="og:site_name"
          content="{{ setting_value('streams::name', config_get('streams::distribution.name')) }}"/>
    {#<meta property="og:image" content="{{ image_url('theme::img/og.png') }}"/>#}
    <meta property="og:description" content="{{ trans(template.meta_description) }}"/>
    <meta property="og:title" content="{{ trans(template.meta_title) }}"/>
    <meta property="og:url" content="{{ url_current() }}"/>
    <meta property="og:type" content="website"/>
{% endblock %}

<!-- Start Cookie Plugin -->
<script type="text/javascript">
    window.cookieconsent_options = {
        message: 'Diese Website nutzt Cookies, um bestmögliche Funktionalität bieten zu können.',
        dismiss: 'Ok',
        learnMore: 'Mehr Infos',
        link: 'http://website-tutor.com/impressum',
        theme: 'dark-bottom'
    };
</script>
<script type="text/javascript" src="//s3.amazonaws.com/valao-cloud/cookie-hinweis/script.js"></script>
<!-- Ende Cookie Plugin -->

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-109205871-1"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-109205871-1');
</script>

<title>
    {{ setting_value('streams::name', config_get('streams::distribution.name')) }}
    &#8250;
    {{ trans(template.meta_title) }}
</title>

<!-- Favicon -->
{#<link rel="shortcut icon" href="{{ img('theme::img/favicon.png').path }}" type="image/png">#}

<link href="https://fonts.googleapis.com/css?family=Lato:300,400|Rubik:200,300,400" rel="stylesheet">
<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/animate.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

{# Important!! #}
{{ constants() }}
