
<nav class="navbar navbar-primary {% if page.tranparent_navigation == '1' %} navbar-transparent {% endif %}">
    <div class="fullwidth">

        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url("/") }}">
               <img src="/img/logo.png" class="img-responsive navbar-logo">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <div class="nav-close-btn js-close-nav visible-xs"><i class="fa fa-times" aria-hidden="true"></i></div>

           <ul class="nav navbar-nav navbar-right visible-lg">
                <li class="nav-social">
                    <a href="https://www.facebook.com/ager.christina/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                </li>
                <li class="nav-social">
                    <a href="https://www.instagram.com/ager.christina/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                </li>
                <li class="nav-social">
                    <a href="mailto:christina.ager@aon.at" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i></a>
                </li>
            </ul>
            {{ menu('main')
            .linkAttributesDropdown({'data-toggle': 'dropdown'})
            .listClass('nav navbar-nav navbar-main')
            .childListClass('dropdown-menu')
            .render()|raw }}
        </div>
    </div>
</nav>
