<div class="col-md-4 col-xs-12">
	<a href="{{ sponsor.link }}" target="_blank">
		<div class="sponsor-entry">
			<div class="sponsor-entry-background" style="background-image: url('{{ sponsor.image.make().widen(500).url() }}');">
				<div class="sponsor-entry-info">
					{{ sponsor.title }}
				</div>
			</div>
		</div>
	</a>
</div>