{% htmlcompress %}
<!doctype html>

<!--[if lt IE 7]>
<html class="nojs ms lt_ie7" lang="en"><![endif]-->
<!--[if IE 7]>
<html class="nojs ms ie7" lang="en"><![endif]-->
<!--[if IE 8]>
<html class="nojs ms ie8" lang="en"><![endif]-->
<!--[if gt IE 8]>
<html class="nojs ms" lang="en"><![endif]-->

<html>

<head>
    {% include "theme::partials/metadata" %}
</head>

<body>

    {% include "theme::partials/header" %}

    <div class="cover-full {% if page.tranparent_navigation == '1' %} cover-no-gradient {% endif %}"
         style="background-image: url('{{ page.image.make().widen(1980).url() }}');">
        <h1 class="cover-full-about wow bounceInDown" style="visibility: hidden;">{{ page.headline }}</h1>
        <h2 class="cover-full-about-sub wow bounceInDown" style="visibility: hidden;">Das Mädel von der Alm</h2>
        <div class="cover-scroll-down swing animated infinite"><i class="fa fa-angle-down" aria-hidden="true"></i></div>
    </div>

    <main style="position: relative;">
        <div class="scroll-indicator"></div>
        {% for aboutme in page.children %}
            {% include "theme::partials/aboutme" %}
        {% endfor %}
    </main>

    <script>

        $(window).scroll(function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 500) {
                $(".navbar").addClass("navbar-fixed-top").removeClass("navbar-transparent");
            } else {
                $(".navbar").addClass("navbar-transparent").removeClass("navbar-fixed-top");
            }
        });

        $(document).ready(function () {
            var windowHeight = $(window).height(),
                gridTop = windowHeight * .00001,
                gridBottom = windowHeight * .999999;
            $(window).on('scroll', function () {
                $('.aboutme-entry').each(function () {
                    var thisTop = $(this).offset().top - $(window).scrollTop();

                    if (thisTop > gridTop && (thisTop + $(this).height()) < gridBottom) {
                        $(this).addClass('active');
                    } else {
                        $(this).removeClass('active');
                    }
                });
            });
        });

    </script>

    {% include "theme::partials/footer" %}
    {% include "theme::partials/assets" %}
</body>
</html>
{% endhtmlcompress %}
