{% htmlcompress %}
<!doctype html>
<html>
	<head>
		{% include "theme::partials/metadata" %}
	</head>
	<body>
		{% include "theme::partials/header" %}
		{% block content %}{% endblock %}
		<main class="main-wrapper">
		<div class="container">
            {% for result in CalendarFIS('2016') %}
            <div class="col-md-4 col-sm-6">
                <div class="calendar-entry wow bounceInUp">
                    <div class="calendar-entry-flag">
                        <img src="/img/country-flags/svg/{{ result.nation }}.svg">
                    </div>
                    <h2 class="calendar-entry-date">{{ result.date }}</h2>
                    <h3 class="calendar-entry-location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{ result.place }}</h3>
                </div>
            </div>
            {% endfor %}
		</div>
		</main>
		{% include "theme::partials/footer" %}
		{% include "theme::partials/assets" %}
		<script type="text/javascript">
			$(".js-close-nav").click(function(){
                $(".navbar-collapse").removeClass("in");
                $(".navbar-main li").removeClass("animated bounceInLeft");

            });
            $(".navbar-toggle").click(function(){
                $(".navbar-main li").addClass("animated bounceInLeft");
            });
            $(window).scroll(function () {
                var scroll = $(window).scrollTop();
                if (scroll >= 500) {
                    $(".navbar").addClass("navbar-fixed");
                } else {
                    $(".navbar").removeClass("navbar-fixed");
                }
            });
		</script>
	</body>
</html>
{% endhtmlcompress %}