{% htmlcompress %}
<!doctype html>

<!--[if lt IE 7]>
<html class="nojs ms lt_ie7" lang="en"><![endif]-->
<!--[if IE 7]>
<html class="nojs ms ie7" lang="en"><![endif]-->
<!--[if IE 8]>
<html class="nojs ms ie8" lang="en"><![endif]-->
<!--[if gt IE 8]>
<html class="nojs ms" lang="en"><![endif]-->

<html>

<head>
    {% include "theme::partials/metadata" %}
</head>

<body>

	{% include "theme::partials/header" %}
	<main class="main-wrapper">
		{{ page.title }}
	    <div class="container">
            {{ page.content|raw }}
	        {% block content %}{% endblock %}
	    </div>
	</main>
	{% include "theme::partials/footer" %}
	{% include "theme::partials/assets" %}
	<script>
        $(window).scroll(function() {
            var scroll = $(window).scrollTop();

            if (scroll >= 500) {
                $(".navbar").addClass("navbar-fixed-top").removeClass("navbar-transparent");
            } else {
                $(".navbar").addClass("navbar-transparent").removeClass("navbar-fixed-top");
            }
        });
	</script>
</body>
</html>
{% endhtmlcompress %}
