{% htmlcompress %}
	<!doctype html>
	<html>
	<head>
	    {% include "theme::partials/metadata" %}
	</head>
	<body>
		{% include "theme::partials/header" %}
		{% include "theme::partials/cover" %}

		{% block content %}{% endblock %}

		{{ InstagramFeed() }}

		{% include "theme::partials/footer" %}
		<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
		<script type="text/javascript">
		$(window).scroll(function() {    
		    var scroll = $(window).scrollTop();

		    if (scroll >= 500) {
		        $(".navbar").addClass("navbar-fixed-top").removeClass("navbar-transparent");
		    } else {
		        $(".navbar").addClass("navbar-transparent").removeClass("navbar-fixed-top");
		    }
		});
		</script>
	</body>
	</html>
{% endhtmlcompress %}
