{% htmlcompress %}
<!doctype html>
<html>
<head>
    {% include "theme::partials/metadata" %}
</head>
<body>
{% include "theme::partials/header" %}
{% block content %}{% endblock %}
<main class="main-wrapper">
	<div class="container">
        {% for pressecategory in page.children %}
            {% include "theme::presse/category" %}
        {% endfor %}
	</div>
</main>
{% include "theme::partials/footer" %}
{% include "theme::partials/assets" %}
<script type="text/javascript">
    $(".js-close-nav").click(function(){
        $(".navbar-collapse").removeClass("in");
        $(".navbar-main li").removeClass("animated bounceInLeft");

    });
    $(".navbar-toggle").click(function(){
        $(".navbar-main li").addClass("animated bounceInLeft");
    });
    $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        if (scroll >= 500) {
            $(".navbar").addClass("navbar-fixed");
        } else {
            $(".navbar").removeClass("navbar-fixed");
        }
    });
</script>
</body>
</html>
{% endhtmlcompress %}