{% htmlcompress %}
<!doctype html>
<html>
<head>
    {% include "theme::partials/metadata" %}
</head>
<body class="frontpage-body">
{% include "theme::partials/header" %}
{% include "theme::partials/cover" %}
{% block content %}{% endblock %}
<div class="text-center col-md-12 col-sm-12 col-xs-12">
    <h2 class="primary-headline instagram-headline black">Social Media</h2>
</div>
<div class="container">
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>
    <div class="elfsight-app-25ba83fa-1839-4c6b-bbb6-2d61a1f4d7dc"></div>
</div>
{% include "theme::partials/footer" %}
<script type="text/javascript">
    $(window).scroll(function () {
        var scroll = $(window).scrollTop();
        if (scroll >= 500) {
            $(".navbar").addClass("navbar-fixed").removeClass("navbar-transparent");
        } else {
            $(".navbar").addClass("navbar-transparent").removeClass("navbar-fixed");
        }
    });
    $(".js-close-nav").click(function(){
        $(".navbar-collapse").removeClass("in");
        $(".navbar-main li").removeClass("animated bounceInLeft");

    });
    $(".navbar-toggle").click(function(){
        $(".navbar-main li").addClass("animated bounceInLeft");
    });
</script>
</body>
</html>
{% endhtmlcompress %}
