{% htmlcompress %}
<!doctype html>
<html>
	<head>
		{% include "theme::partials/metadata" %}
	</head>
	<body>
		{% include "theme::partials/header" %}
		{% block content %}{% endblock %}
		<main class="main-wrapper">
		<div class="container">
			{% for sponsor in page.children %}
				{% include "theme::partials/sponsor" %}
			{% endfor %}
		</div>
		</main>
		{% include "theme::partials/footer" %}
		{% include "theme::partials/assets" %}
		<script type="text/javascript">
			$(".js-close-nav").click(function(){
				$(".navbar-collapse").removeClass("in");
			});
		</script>
	</body>
</html>
{% endhtmlcompress %}