$secondary-font: 'Rubik', sans-serif;
$primary-font: 'Lato', sans-serif;

$primary-color: #333;
$secondary-color: #ff0444;
$white: #fff;
$black: #000;
$grey-light: #eee;

$nav-background-hover: $secondary-color;