.mansory-wrapper {
	margin-top: 60px;
}

.mansory-gallery {
	margin:0 auto;
	height:0;
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	float: left;
	position: relative;
	transition: 0.6s;
	overflow: hidden;

	.mansory-gallery-detail-title {
		font-size: 20px;
		font-family: $primary-font;
		display: block;
		margin-bottom: 15px;
	}

	.mansory-gallery-link {
		padding: 15px;
		width: 100%;
		border: 1px solid $white;
		text-align: center;
		font-size: 15px;
		font-weight: 300;
		font-family: $primary-font;
		display: block;
		color: $white;
		margin-top: 20px;
		text-transform: uppercase;

		&-download {
			padding: 15px;
			text-align: center;
			font-size: 15px;
			font-weight: 300;
			font-family: $primary-font;
			display: block;
			text-transform: uppercase;
			background: $secondary-color;
			color: $white;
			position: absolute;
			left: 20px;
			bottom: 20px;
			right: 20px;
			transition: .5s;

			&:hover {
				background: white;
				color: $primary-color;
				text-decoration: none;
				transition: .5s;
			}
		}

		&.lg-only {
			border: 1px solid $secondary-color;
			background: $secondary-color;
			color: $white;

			&:hover {
				border: 1px solid $secondary-color;
				color: $white;
				text-decoration: none;
			}
		}

		&:hover {
			border: 1px solid $white;
			color: $white;
			text-decoration: none;
		}
	}

	&.lg {
		width: 50%;
		padding-bottom: 50%;

		.mansory-gallery-detail-content {
			display: none;
		}

		.mansory-gallery-link {
			position: absolute;
			display: block;
			left: 20px;
			right: auto;
			bottom: -53px;
			width: 50%;

			&:hover {
				background: white;
				border: 1px solid white;
				color: $primary-color;
				text-decoration: none;
				transition: .5s;
			}
		}

		.mansory-gallery-title {
			font-size: 55px;
			line-height: 60px;
			bottom: 130px;
			transition: 0.5s;
		}

		.mansory-gallery-subtitle {
			bottom: 95px;
			transition: 0.5s;
		}

		.mansory-gallery-link {
			bottom: 20px;
			transition: 0.5s;
		}
	}

	&.md {
		width: 25%;
		padding-bottom: 25%;

		.mansory-gallery-title {
			font-size: 30px;
		}

		.lg-only { 
			display: none;
		}

		.mansory-gallery-detail-content {
			opacity: 0;
			transition: 0.4s;
			position: absolute;
			left: 20px;
			top: 20px;
			right: 20px;
			bottom: 20px;
			background: $secondary-color;
			z-index: 1;
			padding: 20px;
			color: $white;
			text-align: center;
		}
	}

	&-content {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		/*background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 1%, rgba(0,0,0,0.65) 99%, rgba(0,0,0,0.65) 100%);
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%);
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 1%,rgba(0,0,0,0.65) 99%,rgba(0,0,0,0.65) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 );*/
	}

	&-subtitle {
		position: absolute;
		display: block;
		left: 20px;
		right: 20px;
		bottom: 20px;
		top: auto;
		font-size: 18px;
		color: $white;
		text-shadow: 0 0 20px $black;
		font-weight: 700;
		transition: 0.5s;
	}

	&-title {
		position: absolute;
		display: block;
		left: 20px;
		right: 20px;
		bottom: 50px;
		top: auto;
		color: $white;
		text-shadow: 0 0 20px $black;
		font-weight: 700;
		transition: 0.5s;

		&.download {
			bottom: 84px;
		}
	}

	&:hover {
		background-size: 105%;
		transition: 0.6s;

		.mansory-gallery-detail-content {
			opacity: 1;
			transition: 0.4s;
		}
	}
}

@media (max-width: $screen-md-max) {

	.mansory-gallery {

		.mansory-gallery-detail-content {
			display: none;
		}

		&.lg {
			width: 50%;
			padding-bottom: 50%;

			.mansory-gallery-title {
				font-size: 30px;
				line-height: 35px;
				bottom: 150px;
			}
		}

		&.md {
			width: 50%;
			padding-bottom: 50%;

			.mansory-gallery-title {
			    font-size: 30px;
			    line-height: 35px;
			    bottom: 150px;
			}

			.mansory-gallery-subtitle {
			    bottom: 95px;
			    transition: 0.5s;
			}

			.mansory-gallery-link {
			    position: absolute;
			    display: block;
			    left: 20px;
			    right: auto;
			    bottom: 20px;
			    width: 50%;
			}
		}
	}
}

@media (max-width: $screen-xs-max) {

	.mansory-gallery {

		.mansory-gallery-detail-content {
			display: none;
		}

		&.lg {
			width: 100%;
			padding-bottom: 100%;

			.mansory-gallery-title {
				font-size: 30px;
				line-height: 35px;
				bottom: 150px;
			}
		}

		&.md {
			width: 100%;
			padding-bottom: 100%;

			.mansory-gallery-title {
			    font-size: 30px;
			    line-height: 40px;
			    bottom: 150px;
			}

			.mansory-gallery-subtitle {
			    bottom: 95px;
			    transition: 0.5s;
			}

			.mansory-gallery-link {
			    position: absolute;
			    display: block;
			    left: 20px;
			    right: auto;
			    bottom: 20px;
			    width: 50%;
			}
		}
	}
}