{{ asset_add("styles.css", "anomaly.field_type.state::scss/select2.min.scss") }}
{{ asset_add("styles.css", "anomaly.field_type.state::scss/overrides.scss") }}
{{ asset_add("scripts.js", "anomaly.field_type.state::js/select2.full.min.js") }}
{{ asset_add("scripts.js", "anomaly.field_type.state::js/search.js") }}

<select
        name="{{ field_type.input_name }}"
        {{ html_attributes(field_type.attributes) }}
        {{ field_type.disabled ? 'disabled' }}
        {{ field_type.readonly ? 'readonly' }}>

    {% if field_type.placeholder %}
        <option value="">{{ trans(field_type.placeholder) }}</option>
    {% endif %}

    {% set fieldTypeOptions = field_type.options %}

    {% for value, option in fieldTypeOptions %}
        {% if option is iterable %}
            {% if (fieldTypeOptions|length) != 1 %}
                <optgroup label="{{ value }}">
            {% endif %}
                {% for value, option in option %}
                    <option value="{{ value }}" {{ value == field_type.value ? 'selected' }}>{{ trans(option) }}</option>
                {% endfor %}
            {% if (fieldTypeOptions|length) != 1 %}
                </optgroup>
            {% endif %}
        {% else %}
            <option value="{{ value }}" {{ value == field_type.value ? 'selected' }}>{{ trans(option) }}</option>
        {% endif %}
    {% endfor %}

</select>
