
<div class="col-md-4 col-lg-4 col-xs-12 col-sm-6">
	<div class="post-entry xs-entry wow zoomIn">
        {% if pressecategory.presse_category == 'Bild' %}
			<a href="{{ pressecategory.image.url }}"  target="_blank">
        {% else %}
            {% if pressecategory.presse_pdf is empty %}
				<a href="{{ pressecategory.presse_link }}" target="_blank">
            {% else %}
				<a href="{{ pressecategory.presse_pdf.first().url }}" target="_blank">
            {% endif %}
        {% endif %}
		<div class="post-entry-img">
			<img src="{{ pressecategory.image.make().fit(400, 300).url() }}" class="img-responsive">
			<div class="post-entry-img-blur"></div>
			<div class="post-entry-img-plus">
                {% if pressecategory.presse_category == 'Bild' %}
					<i class="fa fa-download" aria-hidden="true"></i>
                {% else %}
                    {% if pressecategory.presse_pdf is empty %}
						<i class="fa fa-book" aria-hidden="true"></i>
                    {% else %}
						<i class="fa fa-plus-circle" aria-hidden="true"></i>
                    {% endif %}
                {% endif %}
			</div>
		</div>
		<div class="post-entry-inner">
			<div class="post-entry-headline-wrapper">
				<h2 class="post-entry-headline">{{ pressecategory.title }}</h2>
			</div>
		</div>

        {% if pressecategory.presse_category == 'Bild' %}
			<div class="post-entry-link" target="_blank">Bild Downloaden</div>
        {% else %}
            {% if pressecategory.presse_pdf is empty %}
				<div class="post-entry-link" target="_blank">Artikel lesen</div>
            {% else %}
				<div class="post-entry-link" target="_blank">PDF Ansehen</div>
            {% endif %}
        {% endif %}
		</a>
	</div>
</div>