<div class="timeline-entry">
    <div class="timeline-entry-date">
        <span class="timeline-date-day">{{ result.day }}</span>
        <span class="timeline-date-month">{{ result.month }}</span>
    </div>
    <div class="timeline-entry-details wow fadeInUp">
		<div class="timeline-details-title">
			<div class="row">
                {% if result.place <= '3' %}
				<div class="col-md-1 col-xs-4 text-center">
                    {% if result.place == '1' %}
                        <img src="/img/medaile/gold.svg">
                    {% elseif result.place == '2' %}
                        <img src="/img/medaile/silver.svg">
                    {% elseif result.place == '3' %}
                        <img src="/img/medaile/bronze.svg">
                    {% endif %}
			    </div>
                {% endif %}
                <div class="col-md-10 {% if result.place <= '3' %}col-xs-8{% else %}col-xs-12{% endif %}">
                    <div>{{ result.place }}. Platz</div> <small>{{ result.race }}</small>
                </div>
            </div>
        </div>

        <div class="timeline-entry-footer">
            <div class="timeline-entry-footer-entry">
                <span class="timeline-entry-footer-desc">Land</span>
                {{ result.country }} > {{ result.location }}
            </div>
            <div class="timeline-entry-footer-entry timeline-entry-footer-entry-disziplin">
                <span class="timeline-entry-footer-desc">Disziplin</span>
                {{ result.discipline }}
            </div>
            {% if result.points != null %}
                <div class="timeline-entry-footer-entry">
                    <span class="timeline-entry-footer-desc">FIS Punkte</span>
                    {{ result.points }}
                </div>
            {% endif %}
        </div>
    </div>
</div>
