<h2 class="timeline-year-title">Erfolge 2023</h2>
{% for result in ResultsFIS('2023') %}
    {% if loop.last %}<div class="last">{% endif %}
    {% include "theme::timeline/entry" %}
    {% if loop.last %}</div >{% endif %}
{% endfor %}
<h2 class="timeline-year-title">Erfolge 2022</h2>
{% for result in ResultsFIS('2022') %}
    {% if loop.last %}<div class="last">{% endif %}
    {% include "theme::timeline/entry" %}
    {% if loop.last %}</div >{% endif %}
{% endfor %}
<h2 class="timeline-year-title">Erfolge 2021</h2>
{% for result in ResultsFIS('2021') %}
    {% if loop.last %}<div class="last">{% endif %}
    {% include "theme::timeline/entry" %}
    {% if loop.last %}</div >{% endif %}
{% endfor %}
<h2 class="timeline-year-title">Erfolge 2020</h2>
{% for result in ResultsFIS('2020') %}
    {% if loop.last %}<div class="last">{% endif %}
    {% include "theme::timeline/entry" %}
    {% if loop.last %}</div >{% endif %}
{% endfor %}
<h2 class="timeline-year-title">Erfolge 2019</h2>
{% for result in ResultsFIS('2019') %}
    {% if loop.last %}<div class="last">{% endif %}
    {% include "theme::timeline/entry" %}
    {% if loop.last %}</div >{% endif %}
{% endfor %}
<h2 class="timeline-year-title">Erfolge 2018</h2>
{% for result in ResultsFIS('2018') %}
    {% if loop.last %}<div class="last">{% endif %}
    {% include "theme::timeline/entry" %}
    {% if loop.last %}</div >{% endif %}
{% endfor %}
<h2 class="timeline-year-title">Erfolge 2017</h2>
{% for result in ResultsFIS('2017') %}
    {% if loop.last %}<div class="last">{% endif %}
    {% include "theme::timeline/entry" %}
    {% if loop.last %}</div >{% endif %}
{% endfor %}
<h2 class="timeline-year-title">Erfolge 2016</h2>
{% for result in ResultsFIS('2016') %}
    {% if loop.last %}<div class="last">{% endif %}
    {% include "theme::timeline/entry" %}
    {% if loop.last %}</div >{% endif %}
{% endfor %}
<h2 class="timeline-year-title">Erfolge 2015</h2>
{% for result in ResultsFIS('2015') %}
    {% if loop.last %}<div class="last">{% endif %}
    {% include "theme::timeline/entry" %}
    {% if loop.last %}</div >{% endif %}
{% endfor %}
<h2 class="timeline-year-title">Erfolge 2014</h2>
{% for result in ResultsFIS('2014') %}
    {% if loop.last %}<div class="last">{% endif %}
    {% include "theme::timeline/entry" %}
    {% if loop.last %}</div >{% endif %}
{% endfor %}
<h2 class="timeline-year-title">Erfolge 2013</h2>
{% for result in ResultsFIS('2013') %}
    {% if loop.last %}<div class="last">{% endif %}
    {% include "theme::timeline/entry" %}
    {% if loop.last %}</div >{% endif %}
{% endfor %}
<h2 class="timeline-year-title">Erfolge 2012</h2>
{% for result in ResultsFIS('2012') %}
    {% if loop.last %}<div class="last">{% endif %}
    {% include "theme::timeline/entry" %}
    {% if loop.last %}</div >{% endif %}
{% endfor %}
<h2 class="timeline-year-title">Erfolge 2011</h2>
{% for result in ResultsFIS('2011') %}
    {% if loop.last %}<div class="last">{% endif %}
    {% include "theme::timeline/entry" %}
    {% if loop.last %}</div >{% endif %}
{% endfor %}
<h2 class="timeline-year-title">Erfolge 2010</h2>
{% for result in ResultsFIS('2010') %}
    {% if loop.last %}<div class="last">{% endif %}
    {% include "theme::timeline/entry" %}
    {% if loop.last %}</div >{% endif %}
{% endfor %}
