<h2 class="timeline-year-title">{{ timelineyear.title }}</h2>
{% for timelineentry in timelineyear.children %}
    {% if loop.last %}<div class="last">{% endif %}
    {% include "theme::timeline/entry" %}
    {% if loop.last %}</div >{% endif %}
{% endfor %}