<div class="post-inner-wrapper row">
    {% for post in posts %}
        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-6">
            <div class="post-entry wow zoomIn">
                {#<a href="{{ post.route('view') }}" >#}
                <a href="#" data-toggle="modal" data-target="#{{ post.id }}">
                    <div class="post-entry-img">
                        <img src="{{ post.image[0].make().fit(400, 300).url() }}" class="img-responsive">
                        <div class="post-entry-img-blur"></div>
                        <div class="post-entry-img-plus"><i class="fa fa-plus-circle" aria-hidden="true"></i></div>
                    </div>
                    <div class="post-entry-inner">
                        <h2 class="post-entry-headline">{{ post.title }}</h2>
                        {% if post.summary %}
                            <p class="post-entry-text">{{ post.summary|nl2br|raw }}</p>
                        {% endif %}
                    </div>
                    <div class="post-entry-link">
                        Mehr lesen
                    </div>
                </a>
            </div>
        </div>

        <div class="modal right modal-post fade" id="{{ post.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{{ post.title }}</h4>
                    </div>
                    <div class="modal-body">
                        <img src="{{ post.image[0].make().widen(800).url() }}" class="img-responsive">
                        <h2>{{ post.title }}</h2>
                        <div class="modal-body-inner">
                            {{ post.content|raw }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link pull-left" data-dismiss="modal">Schließen</button>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</div>