<div class="post-inner-wrapper row">
    {% for post in posts %}
        <div class="col-md-4 col-lg-4 col-xs-12 col-sm-6">
            <div class="post-entry wow zoomIn">
                <a href="{{ post.route('view') }}">
                    <div class="post-entry-img">
                        <img src="{{ post.image[0].make().fit(400, 300).url() }}" class="img-responsive">
                        <div class="post-entry-img-blur"></div>
                        <div class="post-entry-img-plus"><i class="fa fa-plus-circle" aria-hidden="true"></i></div>
                    </div>
                    <div class="post-entry-inner">
                        <h2 class="post-entry-headline">{{ post.title }}</h2>
                        {% if post.summary %}
                            <p class="post-entry-text">{{ post.summary|nl2br|raw }}</p>
                        {% endif %}
                    </div>
                    <div class="post-entry-link">
                        Mehr lesen
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>