<tbody>
{% for row in table.rows %}
    <tr id="{{ loop.index }}">

        {% for column in row.columns %}
            <td class="{{ column.class }}" {{ column.attributes[0] }}>
                {{ column.value|raw }}
                asd
            </td>
        {% endfor %}

        <td class="text-lg-right buttons">
            <nobr>{{ buttons(row.buttons)|raw }}</nobr>
        </td>

    </tr>
{% endfor %}
</tbody>
