<div class="cover-full" style="background-image: url('{{ page.cover_img.make().widen(1980).url() }}');">
	<div class="cover-pull-down">
		<i class="fa fa-angle-down" aria-hidden="true"></i>
	</div>
</div>
