<nav class="navbar navbar-primary navbar-transparent">
    <div class="container">

        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url("/") }}">
               <img src="/img/logo.png" class="img-responsive navbar-logo">
            </a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

           {# <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{{ url_route('anomaly.module.posts::posts.index') }}">Bew</a>
                </li>
            </ul>#}

            {{ structure()
            .linkAttributesDropdown({'data-toggle': 'dropdown'})
            .listClass('nav navbar-nav navbar-right')
            .childListClass('dropdown-menu')
            .render()|raw }}

            
        </div>
    </div>
</nav>
